* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
    text-align: center;
    min-height: 100vh;
    min-width: 370px;
    background-image: linear-gradient(135deg,#00ccff,#ff3333 31%,#00ccff 52%,#ff3333 77%,#00ccff,#ff3333);
    background-size: 200%;
  }
  